/**
 * Home pane
 *
 */
#ng_dashboard {
  &.home {}
  .main .home {
    h1.message {
      font-weight:normal;
      margin:50px;
      padding:15px 30px;
      font-size:24pt;
      line-height:1.5;
      span {
        font-weight:bold;
        color:#2c3e50;
      }
    }
  }
}
